<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Edit Prestation</h2>
        <form (ngSubmit)="editOrder()" [formGroup]="formEditOrder">
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label for="name"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Statut</label>
                    <select formControlName="statut" name="statut" id="statut" required
                        class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm">
                        @for(statut of statuts; track statut){
                        <option [value]="statut">{{statut}}</option>
                        }
                    </select>
                </div>
                <div class="sm:col-span-2">
                    <label for="description"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Employee</label>
                    <select formControlName="employee" name="employee" id="employee" required
                        class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm">
                        @for(employee of users; track employee.id){
                        <option value="default">Select employee</option>
                        <option [value]="employee['@id']">{{employee.name}}</option>
                        }
                    </select>
                </div>
            </div>
            <button type="submit"
                class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-red-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Save Changes
            </button>
        </form>
    </div>
</section>